{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>I'm Eswar Vallabha R, a passionate and dedicated software developer with a strong focus on Linux native development. With a year of experience at Zoho, I have honed my skills in creating robust, efficient, and scalable applications. I thrive on solving complex problems and have successfully solved over 300 problems on LeetCode, demonstrating my commitment to continuous learning and improvement. I'm always eager to explore new technologies and challenges, with a relentless drive to grow as a developer.

</p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
